In [32]:
import pandas as pd
import numpy as np
from glob import glob 
import re
import sys

files=[]
files=glob('Muestras/*.txt')
files

['Muestras\\ffd5d5f5-8814-4f4c-9d3d-e3f79bd27406.txt',
 'Muestras\\ffe0a561-85df-4480-ba08-d42020f40c01.txt',
 'Muestras\\ffe9ec1e-6661-44e2-aee1-f997a9f1429d.txt',
 'Muestras\\ffedd497-0940-4671-aaf4-6c414e3b8391.txt',
 'Muestras\\ffeeece9-0608-4826-b9eb-1be874476538.txt']

In [33]:
datas=[]
for file in files:
    df=pd.read_csv(file, names=['mass','intensity'],sep=' ',skiprows=3)
    del df['mass']
    datas.append(df)
print(type(datas[0]))
#se crea datas, que corresponde a una lista de dataframes
datas

<class 'pandas.core.frame.DataFrame'>

[       intensity
 0           3533
 1           3443
 2           3318
 3           3502
 4           3590
 ...          ...
 20823          6
 20824         13
 20825         10
 20826          8
 20827          6

 [20828 rows x 1 columns],
        intensity
 0          13493
 1          13230
 2          13173
 3          12908
 4          13005
 ...          ...
 20823        129
 20824        150
 20825        174
 20826        210
 20827        203

 [20828 rows x 1 columns],
        intensity
 0           4468
 1           4740
 2           4883
 3           5182
 4           5519
 ...          ...
 20869         38
 20870         25
 20871         23
 20872         47
 20873         42

 [20874 rows x 1 columns],
        intensity
 0           1612
 1           1622
 2           1628
 3           1618
 4           1664
 ...          ...
 20871        226
 20872        232
 20873        227
 20874        199
 20875        214

 [20876 rows x 1 columns],
        intensity
 0           3922
 1           4255
 2           4427
 3           4388
 4           4109
 ...          ...
 20809          3
 20810          4
 20811          3
 20812          7
 20813         13

 [20814 rows x 1 columns]]

In [34]:
#df_datas es una dataframe que contiene en cada fila las intensidades de una  muestra
df_datas=pd.DataFrame(datas)
df_datas

c:\users\kukya\appdata\local\programs\python\python39\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                                   0
0         intensity
0           3533
1           ...
1         intensity
0          13493
1          1...
2         intensity
0           4468
1           ...
3         intensity
0           1612
1           ...
4         intensity
0           3922
1           ...

In [47]:
import csv
with open("output.csv", "w", newline="") as f:
    for data in datas:
        print(data.values)
        writer = csv.writer(f, delimiter=',')
        writer.writerow(data)

[[3533]
 [3443]
 [3318]
 ...
 [  10]
 [   8]
 [   6]]
[[13493]
 [13230]
 [13173]
 ...
 [  174]
 [  210]
 [  203]]
[[4468]
 [4740]
 [4883]
 ...
 [  23]
 [  47]
 [  42]]
[[1612]
 [1622]
 [1628]
 ...
 [ 227]
 [ 199]
 [ 214]]
[[3922]
 [4255]
 [4427]
 ...
 [   3]
 [   7]
 [  13]]

In [48]:
output=pd.read_csv('output.csv', on_bad_lines='skip')

In [49]:
output=output.replace("",0)
output=output.replace("","")
output=output.replace(np.nan,0)
output

   intensity
0  intensity
1  intensity
2  intensity
3  intensity